@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .bg-color-main {
        background: linear-gradient(90deg, #000428 0%, #004E92 100%);
    }

    /*  feedback grid layout*/
    .feedback__container{
        display: grid;
        grid-template-areas:
            'A B'
            'x B'
            'C B';
        grid-template-columns: 60% 40%;
    }
    @media screen and (max-width: 1100px) {
        .feedback__container{
            display: grid;
            grid-template-areas:
            'A A'
            'B B'
            'C C';
            grid-template-columns: 100%;
            grid-row-gap: 40px;
        }

    }
    .feedback__name{
        grid-area: A;
    }
    .feedback__form{
        grid-area: B;

    }
    .feedback__contacts{
        grid-area: C;
    }
    input[type="radio"]:checked {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        border: none !important;
        box-shadow: none !important;
    }
    /*  feedback grid layout*/


    .swiper-slide_flex{
        display: flex !important;
        justify-content: center !important;
    }

    .swiper-wrapper_flex{
        height: auto !important;
    }
    @media screen and (max-width:480px ) {
        .swiper-wrapper_flex{
            height: 213px !important;
        }
    }
    @media screen and (max-width:380px ) {
        .swiper-wrapper_flex{
            height: 168px !important;
        }
    }

    .swiper-button-prev {
        transform: translateX(-50%);

    }
    .swiper-button-next{
        transform: translateX(50%);
    }


    .c-about-puzzle__container{
        display: grid;
        grid-template-areas:
            '. A'
            'B .'
            'C D';

        grid-row-gap: 30px;
        grid-column-gap: 20px;

    }

    .c-about__item_1{
        grid-area: A;
        width: calc(100% - 40px);
    }
    .c-about__item_2{
        grid-area: B;
        margin-left: 40px;

    }
    .c-about__item_3{
        grid-area: C;
        margin-left: 0px;
        width: calc(100% - 40px);
    }
    .c-about__item_4{
        grid-area: D;
        margin-left: -40px;
        width: calc(100% - 40px);
    }



    .gradient-border::before{
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 18px;
        padding: 1px;
        background:linear-gradient(90deg,#e5e5e5,transparent);
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }



  }
