@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .bg-color-main {
        background: linear-gradient(90deg, #000428 0%, #004E92 100%);
    }

    /*  feedback grid layout*/
    .feedback__container{
        display: grid;
        grid-template-areas:
            'A B'
            'x B'
            'C B';
        grid-template-columns: 60% 40%;
    }
    @media screen and (max-width: 1100px) {
        .feedback__container{
            display: grid;
            grid-template-areas:
            'A A'
            'B B'
            'C C';
            grid-template-columns: 100%;
            grid-row-gap: 40px;
        }

    }
    .feedback__name{
        grid-area: A;
    }
    .feedback__form{
        grid-area: B;

    }
    .feedback__contacts{
        grid-area: C;
    }
    input[type="radio"]:checked {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        border: none !important;
        box-shadow: none !important;
    }
    /*  feedback grid layout*/


    .swiper-slide_flex{
        display: flex !important;
        justify-content: center !important;
    }

    .swiper-wrapper_flex{
        height: auto !important;
    }
    @media screen and (max-width:480px ) {
        .swiper-wrapper_flex{
            height: 213px !important;
        }
    }
    @media screen and (max-width:380px ) {
        .swiper-wrapper_flex{
            height: 168px !important;
        }
    }

    .swiper-button-prev {
        transform: translateX(-50%);

    }
    .swiper-button-next{
        transform: translateX(50%);
    }


    /*.c-about-puzzle__container{*/
    /*    display: grid;*/
    /*    grid-template-areas:*/
    /*        '. A'*/
    /*        'B .'*/
    /*        'C D';*/

    /*    grid-row-gap: 30px;*/
    /*    grid-column-gap: 20px;*/

    /*}*/
    .c-about-puzzle__container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
        gap: 20px;
    }
    @media screen and (max-width: 1000px) {
        .c-about-puzzle__container {
            display: grid;
            grid-template-columns: repeat(1, 1fr); /* Два столбца */
            grid-gap: 20px; /* Расстояние между элементами (при необходимости) */
        }

    }


    .c-about__item_1{
        grid-area: A;
        width: calc(100% - 40px);
    }
    .c-about__item_2{
        grid-area: B;
        margin-left: 40px;

    }
    .c-about__item_3{
        grid-area: C;
        margin-left: 0px;
        width: calc(100% - 40px);
    }
    .c-about__item_4{
        grid-area: D;
        margin-left: -40px;
        width: calc(100% - 40px);
    }



    .gradient-border::before{
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 18px;
        padding: 1px;
        background:linear-gradient(90deg,#e5e5e5,transparent);
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }
    .all-courses_animation{
        background-color: rgba(255, 255, 255, .1);
        position: relative;
    }
    .all-courses_animation::before{
        background-color: rgba(255, 255, 255, .1);
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 9;
        margin: -20px;
        border-radius: 20px;
        border-bottom-right-radius: 95px;
        background: rgb(218,34,255);
        background: linear-gradient(90deg, rgba(218,34,255,1) 0%, rgba(151,51,238,1) 100%);
        transform: scale(0%);
        transition: all .3s;

    }
    svg.link_course_main > rect{
        transition: all 1s;
    }
    .all-courses_animation:hover{
        svg.link_course_main > rect{
            fill: none;
            stroke: none;

        }

    }
    .all-courses_animation:hover::before{
        transform: scale(100%);
    }

    /*.first-lane, .last-lane{*/
    /*    animation-duration: 3s;*/
    /*    animation-name: slidein;*/
    /*    animation-iteration-count: infinite;*/
    /*    animation-direction: alternate;*/
    /*}*/


    @keyframes slidein {
        from {
            transform: translateX(0%);
        }

        to {
            transform: translateX(100%);
        }
    }
    @keyframes fadeInOut {
        0% {
            opacity: 0;
        }
        25% {
            opacity: 1;
        }
        50% {
            opacity: 1;
        }
        75% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }

    }

    .first-lane, .last-lane {
        animation: fadeInOut 4s infinite;
    }


    .profile__item:not(:last-child)::after{
        content: "";
        position: absolute;
        right: 0;
        height: 90px;
        width: 1px;
        background-color: #ffffff33;
        margin: auto 0;
        margin-right: 10px;
        transform: translateY(25%);


    }




}
